.skills-content .progress {
    height: 4px !important;
}

.progress {
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    border-radius: 290486px;
    display: block;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

.section-heading {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 6em;
}

html {
  scroll-behavior: smooth;	
}
